# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
ubuntu@ec2-54-221-92-102.compute-1.amazonaws.com
ubuntu@ec2-13-217-221-135.compute-1.amazonaws.com
ubuntu@ec2-54-242-205-20.compute-1.amazonaws.com

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/lib/generated/prisma
